/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v53/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
.conainer_filter{
    display: flex;
    justify-content: center;
}
table.tableListEvent {
    border-collapse: collapse;
}

table.tableListEvent tr td {
    border: 1px solid #eee;
    padding: 0px;
    margin: 0px;
}
.container_Event_list {
    max-width: 600px;
    font-size: 14px;
    width: 100%;
}
.iconevent {
    cursor: pointer;
}



/*tree*/
.treeCSS .drop {
    left: -.5em;
    top: .4em;
    width: .9em;
    height: .9em;
    line-height: .9em;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
}
.treeCSS li:last-child > .drop {
  margin-left: 1px;
}
.treeCSS .drop ~ ul  {
  display: none;  
}
.treeCSS .dropM ~ ul   {
  display: block;
}
.treeCSS .dropM ~ ul li {
    padding: 4px 15px;
}



.treeCSS, 
.treeCSS ul,
.treeCSS li {
  margin: 0;
  padding: 0;
  line-height: 1;
  list-style: none;
}
.treeCSS ul {
  margin: 0 0 0 .5em; 
}
.treeCSS > li:not(:only-child),
.treeCSS li li {
  position: relative;
  padding: .2em 0 10px 1.2em; 
}
.treeCSS li:not(:last-child) {
}
.treeCSS li li:before,
.treeCSS > li:not(:only-child):before { 
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.7em; 
  height: 1.1em;
  border-bottom: 1px solid #ccc;
}
.treeCSS li:last-child:before { 
  width: calc(1.1em - 1px); 
  border-left: 1px solid #ccc;
}
.icon_img {
    width: 16px;
    cursor: pointer;
    margin: 0px 5px;
}
.container_tree_build {
}
ul.treeCSS li:nth-child(even) {
}



/*justify block*/

.container_listEvents {
  display: flex;
}
.container_listEvents > div {
  width: 100%;
}
span#title_build {
  cursor: pointer;
}

.isTurnTrue{
  color:green ;
}

.isTurnFalse{
  color:red ;
}

.build_name.active{
  color:green ; 
}